.navbar {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
}

element-card {
  display: block;
}

.cards {
  --card-spacing: 30px;

  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  margin: calc(var(--card-spacing) * -1);
}

.cards .card {
  flex-grow: 1;
}

.cards > li {
  display: flex;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;

  width: calc((100% / 4) - var(--card-spacing) * 2);
  margin: var(--card-spacing);
}
.stories > li {
  width: calc((100% / 3) - var(--card-spacing) * 2);
}
@media (max-width: 1280px) {
  .cards > li {
    width: calc((100% / 3) - var(--card-spacing) * 2);
  }
  .stories > li {
    width: calc((100% / 2) - var(--card-spacing) * 2);
  }
}
@media (max-width: 1024px) {
  .cards > li {
    width: calc((100% / 2) - var(--card-spacing) * 2);
  }
  .stories > li {
    width: calc((100% / 1) - var(--card-spacing) * 2);
  }
}
@media (max-width: 768px) {
  .cards > li {
    width: calc((100% / 1) - var(--card-spacing) * 2);
  }
}

.is-inline {
  display: inline;
}

.box.fixed {
  position: fixed;
  z-index: 35;
  right: 10px;
  bottom: 10px;
  max-width: 300px;
}

body > .section:last-of-type {
  margin-bottom: 150px;
}

.navbar-item.is-selected {
  cursor: default;
  box-shadow: 0 -5px 0 #e51f48 inset;
}

.image figcaption.is-absolute {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  font-size: 1.5rem;
  background: rgba(255,255,255,0.75);
}
